._333s{margin:20px auto;width:300px}
.sp_QQEYG_6xpBe_2x{background-image:url(/rsrc.php/v3/yb/r/t38T0Sgmp7W.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_QQEYG_6xpBe_2x.sx_3da2b8{background-position:0 0}.sp_QQEYG_6xpBe_2x.sx_f4b57f{background-position:0 -17px}

#bootloader_5Dsn5{height:42px;}.bootloader_5Dsn5{display:block!important;}